@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins";
  line-height: 1.4;
  color: #2b2b31;
}

.container {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.bg--primary {
  background: #225ce6;
}

.text--primary {
  color: #225ce6;
}

.btn.bg--primary {
  padding: 1.5rem 2rem;
  border: 2px solid #fff;
  border-radius: 5rem;
  color: #fff;
  display: inline-block;
  background: #225ce6;
}
.btn.bg--primary:hover {
  background: #1648bf;
}

.btn2.bg--primary {
  padding: 1.5rem 2rem;
  border: 2px solid #225ce6;
  border-radius: 5rem;
  color: #3d3d42;
  display: inline-block;
  background: #225ce6;
}
.btn2.bg--primary:hover {
  color: #3d3d42;
  border: 2px solid #fff;
  color: #fff;
}

.btn3.bg--primary {
  padding: 1.5rem 2rem;
  border: 2px solid #225ce6;
  border-radius: 5rem;
  color: #225ce6;
  display: inline-block;
  background: #225ce6;
}
.btn3.bg--primary:hover {
  background: #225ce6;
  border: 2px solid #fff;
  color: #fff;
}

.btn-lb-lt.bg--primary {
  padding: 0.5rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  color: #fff;
  display: inline-block;
  background: #225ce6;
}
.btn-lb-lt.bg--primary:hover {
  background: #1648bf;
}

.btn-db-dt.bg--primary {
  padding: 0.5rem 1.5rem;
  border: 2px solid #2b2b31;
  border-radius: 2rem;
  color: #2b2b31;
  display: inline-block;
  background: #225ce6;
}
.btn-db-dt.bg--primary:hover {
  background: #1648bf;
}

.bg--dark {
  background: #26262c;
}

.text--dark {
  color: #26262c;
}

.btn.bg--dark {
  padding: 1.5rem 2rem;
  border: 2px solid #fff;
  border-radius: 5rem;
  color: #fff;
  display: inline-block;
  background: #26262c;
}
.btn.bg--dark:hover {
  background: #0e0e11;
}

.btn2.bg--dark {
  padding: 1.5rem 2rem;
  border: 2px solid #225ce6;
  border-radius: 5rem;
  color: #3d3d42;
  display: inline-block;
  background: #26262c;
}
.btn2.bg--dark:hover {
  color: #3d3d42;
  border: 2px solid #fff;
  color: #fff;
}

.btn3.bg--dark {
  padding: 1.5rem 2rem;
  border: 2px solid #225ce6;
  border-radius: 5rem;
  color: #225ce6;
  display: inline-block;
  background: #26262c;
}
.btn3.bg--dark:hover {
  background: #225ce6;
  border: 2px solid #fff;
  color: #fff;
}

.btn-lb-lt.bg--dark {
  padding: 0.5rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  color: #fff;
  display: inline-block;
  background: #26262c;
}
.btn-lb-lt.bg--dark:hover {
  background: #0e0e11;
}

.btn-db-dt.bg--dark {
  padding: 0.5rem 1.5rem;
  border: 2px solid #2b2b31;
  border-radius: 2rem;
  color: #2b2b31;
  display: inline-block;
  background: #26262c;
}
.btn-db-dt.bg--dark:hover {
  background: #0e0e11;
}

.bg--light {
  background: #fff;
}

.text--light {
  color: #fff;
}

.btn.bg--light {
  padding: 1.5rem 2rem;
  border: 2px solid #fff;
  border-radius: 5rem;
  color: #fff;
  display: inline-block;
  background: #fff;
}
.btn.bg--light:hover {
  background: #e6e6e6;
}

.btn2.bg--light {
  padding: 1.5rem 2rem;
  border: 2px solid #225ce6;
  border-radius: 5rem;
  color: #3d3d42;
  display: inline-block;
  background: #fff;
}
.btn2.bg--light:hover {
  color: #3d3d42;
  border: 2px solid #fff;
  color: #fff;
}

.btn3.bg--light {
  padding: 1.5rem 2rem;
  border: 2px solid #225ce6;
  border-radius: 5rem;
  color: #225ce6;
  display: inline-block;
  background: #fff;
}
.btn3.bg--light:hover {
  background: #225ce6;
  border: 2px solid #fff;
  color: #fff;
}

.btn-lb-lt.bg--light {
  padding: 0.5rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  color: #fff;
  display: inline-block;
  background: #fff;
}
.btn-lb-lt.bg--light:hover {
  background: #e6e6e6;
}

.btn-db-dt.bg--light {
  padding: 0.5rem 1.5rem;
  border: 2px solid #2b2b31;
  border-radius: 2rem;
  color: #2b2b31;
  display: inline-block;
  background: #fff;
}
.btn-db-dt.bg--light:hover {
  background: #e6e6e6;
}

.bg--light dark {
  background: #3d3d42;
}

.text--light dark {
  color: #3d3d42;
}

.btn.bg--light dark {
  padding: 1.5rem 2rem;
  border: 2px solid #fff;
  border-radius: 5rem;
  color: #fff;
  display: inline-block;
  background: #3d3d42;
}
.btn.bg--light dark:hover {
  background: #252527;
}

.btn2.bg--light dark {
  padding: 1.5rem 2rem;
  border: 2px solid #225ce6;
  border-radius: 5rem;
  color: #3d3d42;
  display: inline-block;
  background: #3d3d42;
}
.btn2.bg--light dark:hover {
  color: #3d3d42;
  border: 2px solid #fff;
  color: #fff;
}

.btn3.bg--light dark {
  padding: 1.5rem 2rem;
  border: 2px solid #225ce6;
  border-radius: 5rem;
  color: #225ce6;
  display: inline-block;
  background: #3d3d42;
}
.btn3.bg--light dark:hover {
  background: #225ce6;
  border: 2px solid #fff;
  color: #fff;
}

.btn-lb-lt.bg--light dark {
  padding: 0.5rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  color: #fff;
  display: inline-block;
  background: #3d3d42;
}
.btn-lb-lt.bg--light dark:hover {
  background: #252527;
}

.btn-db-dt.bg--light dark {
  padding: 0.5rem 1.5rem;
  border: 2px solid #2b2b31;
  border-radius: 2rem;
  color: #2b2b31;
  display: inline-block;
  background: #3d3d42;
}
.btn-db-dt.bg--light dark:hover {
  background: #252527;
}

.bg--shade dark {
  background: #26262c;
}

.text--shade dark {
  color: #26262c;
}

.btn.bg--shade dark {
  padding: 1.5rem 2rem;
  border: 2px solid #fff;
  border-radius: 5rem;
  color: #fff;
  display: inline-block;
  background: #26262c;
}
.btn.bg--shade dark:hover {
  background: #0e0e11;
}

.btn2.bg--shade dark {
  padding: 1.5rem 2rem;
  border: 2px solid #225ce6;
  border-radius: 5rem;
  color: #3d3d42;
  display: inline-block;
  background: #26262c;
}
.btn2.bg--shade dark:hover {
  color: #3d3d42;
  border: 2px solid #fff;
  color: #fff;
}

.btn3.bg--shade dark {
  padding: 1.5rem 2rem;
  border: 2px solid #225ce6;
  border-radius: 5rem;
  color: #225ce6;
  display: inline-block;
  background: #26262c;
}
.btn3.bg--shade dark:hover {
  background: #225ce6;
  border: 2px solid #fff;
  color: #fff;
}

.btn-lb-lt.bg--shade dark {
  padding: 0.5rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  color: #fff;
  display: inline-block;
  background: #26262c;
}
.btn-lb-lt.bg--shade dark:hover {
  background: #0e0e11;
}

.btn-db-dt.bg--shade dark {
  padding: 0.5rem 1.5rem;
  border: 2px solid #2b2b31;
  border-radius: 2rem;
  color: #2b2b31;
  display: inline-block;
  background: #26262c;
}
.btn-db-dt.bg--shade dark:hover {
  background: #0e0e11;
}

.bg--transparent {
  background: transparent;
}

.text--transparent {
  color: transparent;
}

.btn.bg--transparent {
  padding: 1.5rem 2rem;
  border: 2px solid #fff;
  border-radius: 5rem;
  color: #fff;
  display: inline-block;
  background: transparent;
}
.btn.bg--transparent:hover {
  background: rgba(0, 0, 0, 0);
}

.btn2.bg--transparent {
  padding: 1.5rem 2rem;
  border: 2px solid #225ce6;
  border-radius: 5rem;
  color: #3d3d42;
  display: inline-block;
  background: transparent;
}
.btn2.bg--transparent:hover {
  color: #3d3d42;
  border: 2px solid #fff;
  color: #fff;
}

.btn3.bg--transparent {
  padding: 1.5rem 2rem;
  border: 2px solid #225ce6;
  border-radius: 5rem;
  color: #225ce6;
  display: inline-block;
  background: transparent;
}
.btn3.bg--transparent:hover {
  background: #225ce6;
  border: 2px solid #fff;
  color: #fff;
}

.btn-lb-lt.bg--transparent {
  padding: 0.5rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  color: #fff;
  display: inline-block;
  background: transparent;
}
.btn-lb-lt.bg--transparent:hover {
  background: rgba(0, 0, 0, 0);
}

.btn-db-dt.bg--transparent {
  padding: 0.5rem 1.5rem;
  border: 2px solid #2b2b31;
  border-radius: 2rem;
  color: #2b2b31;
  display: inline-block;
  background: transparent;
}
.btn-db-dt.bg--transparent:hover {
  background: rgba(0, 0, 0, 0);
}

.d--flex {
  display: flex;
}

.d--block {
  display: block;
}

.d--inline-block {
  display: inline-block;
}

.d--inline {
  display: inline;
}

.d--grid {
  display: grid;
}

.align--center {
  align-items: center;
}

.text--center {
  text-align: center;
}

.align--right {
  align-items: right;
}

.text--right {
  text-align: right;
}

.align--left {
  align-items: left;
}

.text--left {
  text-align: left;
}

.align--justify {
  align-items: justify;
}

.text--justify {
  text-align: justify;
}

.justify--start {
  justify-content: flex-start;
}

.justify--center {
  justify-content: center;
}

.justify--end {
  justify-content: flex-end;
}

.justify--between {
  justify-content: space-between;
}

.justify--around {
  justify-content: space-around;
}

.py--1 {
  padding: 1rem 0;
}

.px--1 {
  padding: 1 rem;
}

.mt--1 {
  margin-top: 1rem;
}

.mb--1 {
  margin-bottom: 1rem;
}

.py--2 {
  padding: 2rem 0;
}

.px--2 {
  padding: 2 rem;
}

.mt--2 {
  margin-top: 2rem;
}

.mb--2 {
  margin-bottom: 2rem;
}

.py--3 {
  padding: 3rem 0;
}

.px--3 {
  padding: 3 rem;
}

.mt--3 {
  margin-top: 3rem;
}

.mb--3 {
  margin-bottom: 3rem;
}

.py--4 {
  padding: 4rem 0;
}

.px--4 {
  padding: 4 rem;
}

.mt--4 {
  margin-top: 4rem;
}

.mb--4 {
  margin-bottom: 4rem;
}

.py--5 {
  padding: 5rem 0;
}

.px--5 {
  padding: 5 rem;
}

.mt--5 {
  margin-top: 5rem;
}

.mb--5 {
  margin-bottom: 5rem;
}

.py--6 {
  padding: 6rem 0;
}

.px--6 {
  padding: 6 rem;
}

.mt--6 {
  margin-top: 6rem;
}

.mb--6 {
  margin-bottom: 6rem;
}

.py--7 {
  padding: 7rem 0;
}

.px--7 {
  padding: 7 rem;
}

.mt--7 {
  margin-top: 7rem;
}

.mb--7 {
  margin-bottom: 7rem;
}

.py--8 {
  padding: 8rem 0;
}

.px--8 {
  padding: 8 rem;
}

.mt--8 {
  margin-top: 8rem;
}

.mb--8 {
  margin-bottom: 8rem;
}

.py--9 {
  padding: 9rem 0;
}

.px--9 {
  padding: 9 rem;
}

.mt--9 {
  margin-top: 9rem;
}

.mb--9 {
  margin-bottom: 9rem;
}

.py--10 {
  padding: 10rem 0;
}

.px--10 {
  padding: 10 rem;
}

.mt--10 {
  margin-top: 10rem;
}

.mb--10 {
  margin-bottom: 10rem;
}

.py--11 {
  padding: 11rem 0;
}

.px--11 {
  padding: 11 rem;
}

.mt--11 {
  margin-top: 11rem;
}

.mb--11 {
  margin-bottom: 11rem;
}

.py--12 {
  padding: 12rem 0;
}

.px--12 {
  padding: 12 rem;
}

.mt--12 {
  margin-top: 12rem;
}

.mb--12 {
  margin-bottom: 12rem;
}

.py--13 {
  padding: 13rem 0;
}

.px--13 {
  padding: 13 rem;
}

.mt--13 {
  margin-top: 13rem;
}

.mb--13 {
  margin-bottom: 13rem;
}

.py--14 {
  padding: 14rem 0;
}

.px--14 {
  padding: 14 rem;
}

.mt--14 {
  margin-top: 14rem;
}

.mb--14 {
  margin-bottom: 14rem;
}

.py--15 {
  padding: 15rem 0;
}

.px--15 {
  padding: 15 rem;
}

.mt--15 {
  margin-top: 15rem;
}

.mb--15 {
  margin-bottom: 15rem;
}

.py--16 {
  padding: 16rem 0;
}

.px--16 {
  padding: 16 rem;
}

.mt--16 {
  margin-top: 16rem;
}

.mb--16 {
  margin-bottom: 16rem;
}

.py--17 {
  padding: 17rem 0;
}

.px--17 {
  padding: 17 rem;
}

.mt--17 {
  margin-top: 17rem;
}

.mb--17 {
  margin-bottom: 17rem;
}

.py--18 {
  padding: 18rem 0;
}

.px--18 {
  padding: 18 rem;
}

.mt--18 {
  margin-top: 18rem;
}

.mb--18 {
  margin-bottom: 18rem;
}

.py--19 {
  padding: 19rem 0;
}

.px--19 {
  padding: 19 rem;
}

.mt--19 {
  margin-top: 19rem;
}

.mb--19 {
  margin-bottom: 19rem;
}

.py--20 {
  padding: 20rem 0;
}

.px--20 {
  padding: 20 rem;
}

.mt--20 {
  margin-top: 20rem;
}

.mb--20 {
  margin-bottom: 20rem;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  height: 100vh;
  background-color: #2b2b31;
  color: #fff;
  padding-top: 12rem;
  text-align: center;
}
.banner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.banner__wrapper img {
  height: 73rem;
  width: 100rem;
}
.banner .banner__container {
  width: 100%;
  max-width: 160rem;
  margin: 0 auto;
  padding: 1.5rem;
}
.banner__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.banner__info h1 {
  line-height: 1.1;
  font-size: 7rem;
  font-weight: 400;
}
.banner__info h1 span {
  font-weight: 250;
}
.banner__info__add p:first-child {
  color: #879097;
  font-size: 2rem;
}
.banner__info__add button {
  background-color: #0065b8;
  border: none;
  outline: none;
  color: #fff;
  font-size: 2.3rem;
  padding: 1rem 0.5rem;
  width: 55%;
}
.banner__info__add button a {
  color: #fff;
}
.banner__info .button__container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.banner__info .button__container button {
  cursor: pointer;
  transition: 0.3s ease;
}
.banner__info .button__container button:hover {
  background-color: #f42534;
  transition: 0.3s ease;
}
.banner__info .button__container small {
  font-size: 1.5rem;
}
.banner__info .button__container button:last-child {
  width: 10%;
}
.banner__info__add {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.banner__info__add span {
  color: #0065b8;
}
.banner__info__add .colored__container {
  background-color: #26262c;
  padding: 1rem 1rem;
  border-radius: 1rem;
  width: 60%;
  margin: 0 auto;
}
.banner__info__add .colored__container p {
  font-size: 1.6rem;
}
.banner__info__add .colored__container p span {
  cursor: pointer;
}
.banner__info .agreement__container {
  color: #879097;
}
.banner__info .agreement__container span {
  color: #0065b8;
  cursor: pointer;
}

.icon__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.icon__card {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #879097;
  gap: 1rem;
  transition: 0.3s ease;
}
.icon__card i {
  font-size: 5rem;
}
.icon__card p {
  font-size: 2rem;
}
.icon__card:hover {
  background-color: #c6cace;
  transition: 0.3s ease;
}
.icon .icon__card-1:hover i {
  color: #f42534;
  transition: 0.3s ease;
}
.icon .icon__card-2:hover i {
  color: #ff50dc;
  transition: 0.3s ease;
}
.icon .icon__card-3:hover i {
  color: #0065b8;
  transition: 0.3s ease;
}
.icon .icon__card-4:hover i {
  color: #008000;
  transition: 0.3s ease;
}
.icon .container__icon {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.slider {
  background-color: #f5f5f5;
  padding: 5rem 0;
}
.slider span {
  color: #0065b8;
}
.slider .slider__item {
  display: flex;
  gap: 1rem;
}
.slider .slider__item img {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
}
.slider .slider__item i {
  color: #c6cace;
  font-size: 2rem;
}
.slider .slider__item__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.slider__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.services {
  padding: 3rem 0;
}
.services__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.services__card__item {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.services__card__item img {
  width: 50rem;
  height: 25rem;
  margin: 0;
}
.services__card__dark {
  background-color: #f5f5f5;
  padding: 5rem 0 3rem;
}
.services .item__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.services .item__info p {
  line-height: 2;
  font-weight: 500;
}
.services .item__info .head {
  font-weight: 1;
  font-size: 3rem;
  font-weight: 200;
}

.vsCode {
  background-color: #f5f5f5;
  padding: 5rem 0;
}
.vsCode a {
  color: #0065b8;
}
.vsCode__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vsCode__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.vsCode button {
  margin: 0 auto;
}
.vsCode h2,
.vsCode button,
.vsCode a {
  text-align: center;
}
.vsCode h2 {
  margin-bottom: 5rem;
}
.vsCode .icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vsCode .icons__item img {
  width: 5rem;
}
.vsCode button {
  border: unset;
  outline: none;
  background-color: #0065b8;
  color: #fff;
  padding: 2rem 2rem;
  font-size: 1.8rem;
  transition: 0.3s ease;
}
.vsCode button:hover {
  background-color: #008000;
  transition: 0.3s ease;
}

.downloads {
  padding: 8rem 0;
}
.downloads .container__downloads {
  width: 100%;
  max-width: 160rem;
  margin: 0 auto;
}
.downloads #downloads__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.downloads .operatingS {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  transition: 0.3s ease;
}
.downloads .operatingS button {
  display: inline-block;
}
.downloads .operatingS button:hover {
  background-color: #133fa8;
  transition: 0.3s ease;
}
.downloads .operatingS img {
  width: 12rem;
  height: 13.5rem;
}
.downloads .items__downloads {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.downloads .items__downloads .box {
  background-color: #0065b8;
  color: #fff;
  padding: 1rem 0.4rem;
  font-size: 1.4rem;
  transition: 0.3s ease;
}
.downloads .items__downloads .box:hover {
  background-color: #133fa8;
  transition: 0.3s ease;
}
.downloads .items__downloads p:first-child {
  width: 15rem;
  text-align: center;
}
.downloads__cards__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.downloads .operatingS__bits {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.downloads .operatingS button {
  border: unset;
  outline: none;
  background: #0065b8;
  color: #fff;
  width: 38rem;
  padding: 1rem 3rem;
  height: 7rem;
  font-size: 1.8rem;
}
.downloads .operatingS button small {
  font-size: 1.2rem;
}
.downloads .operatingS button i {
  margin-right: 1rem;
}
.downloads .width {
  width: 6.8rem !important;
}
.downloads .width-2 {
  width: 3.2rem !important;
}
.downloads .same {
  width: 9rem;
  text-align: center;
}

.slider__item {
  display: flex !important;
}

.tns-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 10;
}

.tns-controls button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

.tns-controls button:hover {
  color: black;
}

.tns-controls button {
  background: none;
  border: 1px solid #0065b8;
  padding: 1rem;
  border-radius: 100%;
  font-size: 2.5rem;
  cursor: pointer;
  color: #0065b8 !important;
}

.tns-controls button:hover {
  color: #26262c !important;
  border-color: #26262c !important;
}

.slider {
  max-width: 90%;
  margin: auto;
  overflow: hidden;
  position: relative; /* ✅ Fix for arrows positioning */
  height: 100%;
  padding: 15rem 0;
  z-index: 1;
}

.tns-nav {
  text-align: center;
  margin-top: 15px; /* Adjust spacing */
  position: absolute;
  bottom: 5rem;
  left: 50%;
}

.tns-nav button {
  width: 20px; /* Make dots bigger */
  height: 20px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s ease-in-out;
}

.tns-nav .tns-nav-active {
  background: #0065b8; /* Keep active dot blue */
  transform: scale(1.2); /* Slightly enlarge active dot */
  border: 1px solid transparent;
}

#tns1 > .tns-item {
  margin-left: 5rem;
}

#tns1 > .tns-item {
  font-size: 1.7rem;
}

.header {
  z-index: 9999;
  position: fixed;
  background-color: #2b2b31;
}
.header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 59rem;
}
.header .branding {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.header .branding p {
  color: #fff;
}
.header .branding img {
  width: 3.5rem;
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-size: 1.8rem;
}
.header__options ul {
  display: flex;
  gap: 2rem;
}
.header__options ul li {
  transition: 0.3s ease;
}
.header__options ul li a {
  color: #879097;
}
.header__options ul li:hover a {
  color: #fff;
  transition: 0.3s ease;
}
.header .header.container {
  width: 100%;
  max-width: 350rem;
  margin: 0 auto;
  padding: 1.5rem;
}
.header .search__dloads {
  position: relative;
}
.header .search__dloads form input,
.header .search__dloads form button {
  position: absolute;
}
.header .search__dloads form input {
  top: -3.26rem;
  width: 24rem;
  height: 6.5rem;
  right: 12rem;
  background-color: #3d3d42;
  outline: none;
  border: unset;
  padding: 0 2rem;
  border: 1px solid transparent;
  transition: 0.3s ease;
  color: #fff;
}
.header .search__dloads form input::-moz-placeholder {
  font-size: 1.5rem;
  color: #fff;
}
.header .search__dloads form input::placeholder {
  font-size: 1.5rem;
  color: #fff;
}
.header .search__dloads form input:focus {
  background-color: #26262c;
  transition: 0.3s ease;
}
.header .search__dloads form button {
  width: 13rem;
  left: -11.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #0065b8;
  border: none;
  color: #fff;
  outline: unset;
  top: -3.3rem;
  height: 6.5rem;
  font-size: 1.5rem;
  transition: 0.3s ease;
}
.header .search__dloads form button:hover {
  background-color: #008000;
  color: #fff;
  transition: 0.3s ease;
}
.header .updates {
  width: 100%;
  position: fixed;
  top: 6.5rem;
  color: #fff;
  text-align: center;
  background-color: #26262c !important;
  padding: 1.8rem;
  font-size: 1.7rem;
}
.header .updates span {
  color: #225ce6;
}

.footer {
  padding: 7rem 0;
  background-color: #f5f5f5;
}
.footer span {
  color: #0065b8;
  cursor: pointer;
}
.footer__top {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 39rem;
}
.footer__top p {
  font-size: 1.8rem;
}
.footer .footer__info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.footer .footer__info h2 {
  line-height: 1.4;
  font-size: 2.4rem;
  font-weight: bold;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 13rem;
}
.footer .footer__bottom {
  text-align: center;
  line-height: 2.5;
  font-size: 1.4rem;
}
.footer .footer__bottom h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.7;
}/*# sourceMappingURL=main.css.map */