
$clr-darkest : #26262c; //darkest shade of dark
$clr-dark : #2b2b31; //text
$clr-l-dark :#3d3d42; //light dark
$clr-b-dark :#3d3d42;   //button dark
$clr-d-blue :#225ce6; //primary
$clr-f-dark :#26262c; //features
$clr-light :#fff; //white
$clr-h-gray : #879097;


$transparent: transparent ;
$ff-primary: "Poppins";
