@mixin imgFit($width : 200px, $height: 200px){
    width: $width;
    height: $height;
    object-fit: cover;
    object-fit: center center;
    display: block;
}

@mixin btn($bg){
    padding: 1.5rem 2rem;
    border: 2px solid $clr-light;
    border-radius: 5rem;
    color: $clr-light;
    display: inline-block;
    background: $bg;

    &:hover{
        background: darken($bg, 10);
        
    }
}

@mixin btn2($bg){
    padding: 1.5rem 2rem;
    border: 2px solid $clr-d-blue;
    border-radius: 5rem;
    color: $clr-b-dark;
    display: inline-block;
    background: $bg;

    &:hover{
       color: $clr-b-dark;
        border: 2px solid $clr-light;
        color: $clr-light;
    }
}

@mixin btn3($bg){
    padding: 1.5rem 2rem;
      border: 2px solid $clr-d-blue;
    border-radius: 5rem;
    color: $clr-d-blue;
    display: inline-block;
    background: $bg;

    &:hover{
        background: $clr-d-blue;
        border: 2px solid $clr-light;
        color: $clr-light;
    }
}

@mixin btn-lb-lt($bg){
    padding: 0.5rem 1.5rem;
    border: 2px solid $clr-light;
    border-radius: 2rem;
    color: $clr-light;
    display: inline-block;
    background: $bg;

    &:hover{
        background:darken($bg, 10);
      
    }
}

@mixin btn-db-dt($bg){
    padding: 0.5rem 1.5rem;
    border: 2px solid $clr-dark;
    border-radius: 2rem;
    color: $clr-dark;
    display: inline-block;
    background: $bg;

    &:hover{
        background:darken($bg, 10);
      
    }
}

@mixin mediaQuery($width : 52rem){
    @media screen and (max-width: $width){
        @content;
    }
}

@mixin centerBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin centerAll($height: 1px){
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: $height;
}

@mixin grid($cols: 1, $gap: 1rem) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-gap: $gap;
}

@mixin flexItem ($content: flex-start, $items:flex-start){
    display: flex;
    justify-content: $content;
    align-items: $items;
}








